@model E_Commerce_MVC.Models.EntitiesViewModel.StoreViewModel
@{
    ViewData["Title"] = "Edit Store";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<div class="container my-5 w-50">
    <h1 class="h3 mb-4">Edit Store</h1>
    <div class="card shadow">
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <input asp-for="StoreId" type="hidden" />
                <div class="mb-3">
                    <label asp-for="StoreName" class="form-label">Store Name</label>
                    <input asp-for="StoreName" class="form-control" placeholder="Enter store name" />
                    <span asp-validation-for="StoreName" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>