@model E_Commerce_MVC.Models.EntitiesViewModel.Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Create Category</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form asp-action="Create">
                <!-- Validation Summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <!-- Product Name -->
                <div class="mb-4">
                    <label asp-for="CategoryName" class="form-label">Category Name </label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <!-- Product Description -->
                <div class="mb-4">
                    <label asp-for="CategoryDescription" class="form-label">Category Description </label>
                    <input asp-for="CategoryDescription" class="form-control" />
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>
                <!-- Submit Button -->
                <div class="d-grid mb-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Back to List Link -->
    <div class="text-center">
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </div>
</div>